<p>Olá,</p>

<p>Espero que esteja tudo bem!</p>

<p>Estou entrando em contato para convidá-lo(a) a se juntar ao nosso time como consultor no Momento Fiscal. Sabemos que suas habilidades e experiência fazem toda a diferença, e acreditamos que você será uma peça essencial para fortalecer ainda mais nossa equipe.</p>

<p>Para se juntar a nós, clique no link abaixo, instale o nosso aplicativo e crie sua conta utilizando este e-mail.</p>

<p>
  <a href="https://play.google.com/store/apps/details?id=br.com.momentofiscal&hl=pt_BR" style="display:inline-block; padding:10px 20px; color:white; background-color:#3b82f6; text-decoration:none; border-radius:5px; margin-right:10px;">
    Baixar para Android
  </a>
  <a href="https://apps.apple.com/app/momento-fiscal/id6636497263" style="display:inline-block; padding:10px 20px; color:white; background-color:#10b981; text-decoration:none; border-radius:5px;">
    Baixar para iOS
  </a>
</p>
<p>Estamos ansiosos para recebê-lo(a) em nossa comunidade!</p>

<p>Atenciosamente,</p>

<p>Momento Fiscal</p>
