<%# Card to invite new users to install the app %>
<div class="card" style="position: relative;">
  <div style="text-align: center; vertical-align: middle; padding-left: 10px">
    <p style="font-size: 1.5em; font-weight: bold; color: #007bff; margin-top: 0; margin-bottom: 0"> <%= consulting.import_hash %></p>
    <p style="font-size: 0.7em">
      Código de importação de proposta.
      <br>
      Utilize este código para importar a proposta no aplicativo
      <span style="font-weight: bold; color: #007bff">Momento Fiscal</span>
    </p>
  </div>
</div>
